<h1>All the interests</h1>

 <tbody>
    <% @interest.each do |interest| %>
      <tr>
        <td><%= interest.name%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
       
       
      </tr>
      </br>
    <% end %>
  </tbody>